<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="{{ site.authorname }}" />
        <meta name="description" content="{{ site.description }}" />
        <link rel="stylesheet" type="text/css" href="/resources/css/prism.css">
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ '/resources/css/style.css' | url }}"
        />
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <div class="flexbox-center">
                <nav>
                    {% set navPages = collections.all | eleventyNavigation %}
                    <ul>
                        {%- for entry in navPages %}
                        <li{% if entry.url == page.url %} class="nav-active"{% endif %}>
                            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                        </li>
                        {%- endfor %}
                    </ul>
                </nav>
                <h1 class="hero">{{ title }}</h1>
            </div>
        </header>
        <main>
            <div class="flexbox-center">
                {{ content | safe }}
            </div>
        </main>
        <footer>
            <small>
                <p>&copy; 2021: <a href="/">mrbradleylee.com</a> + the helpful otter 🦦</p>
                <!-- <p><a href="#">Links</a></p> -->
            </small>
        </footer>
        <script src="/resources/js/prism.js"></script>
    </body>
</html>
