/*----------------------------------------------------------------------------*/
//* SCSS VARS */
/*----------------------------------------------------------------------------*/

$font-stack: sans-serif;
$font-mono: monospace;
$primary-color: #2d2a2e;
$secondary-color: #fff;
$red: #ff6188;
$orange: #fc9867;
$yellow: #ffd866;
$green: #a9dc76;
$blue: #78dce8;
$purple: #ab9df2;

/*----------------------------------------------------------------------------*/
//* CORE SETUP */
/*----------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5em;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
    display: flex;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    margin-left: auto;
    margin-right: auto;
    max-width: 75ch; // TODO fix this into the child elements (maybe)
}

footer {
    margin-top: 3em;
    color: #888;
    display: flex;
    justify-content: center; //! center or left?
}

footer {
    a:link,
    a:visited {
        color: $green;
        border: none;
    }

    a:hover,
    a:active {
        color: $purple;
        border: none;
    }
}

nav {
    ul {
        list-style: none;
        display: flex;
        margin: 0 0 3em 0;
        padding: 0;
    }

    li {
        padding-right: 1em;
    }

    a:link,
    a:visited {
        display: block;
        color: $red;
        border-bottom: 1px solid transparent;
    }

    a:hover,
    a:active {
        display: block;
        color: $orange;
        border-bottom: 1px solid $green;
    }
}

/*----------------------------------------------------------------------------*/
//* COMPONENTS */
/*----------------------------------------------------------------------------*/

h2,
h3 {
    margin-top: 1.5em;
}

h2 {
    margin-bottom: 0.8em;
}

p {
    display: block;
    margin-bottom: 0.5em;
    // margin-block-start: 1em;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

blockquote {
    // font-size: 1.1875em; /* 19px /16 */
    // color: #666;
    margin: 1.5em 0;
    padding: 0 1em;
    max-width: 31.57894736842em; /* 600px /19 */
    border-left: 6px solid $red;
}

/*----------------------------------------------------------------------------*/
//* LINKS */
/*----------------------------------------------------------------------------*/

a:link,
a:visited {
    color: $blue;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid $yellow;
    transition: all 0.25s linear;
}

a:hover,
a:active {
    color: $purple;
    text-decoration: none;
    border-bottom: 1px solid $orange;
    transition: all 0.25s linear;
}

.hero {
    text-align: center;
    margin-bottom: 1em;
}

.postdate {
    display: block;
    color: #888;
    margin-top: 1ch;
}

.postexcerpt {
    margin-left: 1em;
    margin-bottom: 2em;
}
